/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #e3e3e3;
  font-family: 'Poppins','Noto Sans TC', sans-serif;
  font-size: 16px;
  color: #291B08;
  letter-spacing: 1px;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  margin-bottom: 80px;
}

@media (min-width: 975px) {
  section {
    margin-bottom: 150px;
  }
}

h2 {
  letter-spacing: 3px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  color: #291B08;
  text-decoration: none;
}

.fs-7 {
  font-size: 14px;
}

.text-align-justify {
  text-align: justify;
}

.subtitle {
  position: relative;
  padding-bottom: 8px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.subtitle::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -620px;
  width: 600px;
  height: 1px;
  background-color: #291B08;
}

.btn-border {
  padding: 16px 48px;
  background-color: #e3e3e3;
  color: #291B08;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-border:hover {
  background-color: #A68A73;
  color: #291B08;
  border: 2px solid #A68A73;
}

.btn-tag {
  padding: 8px 40px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-tag:hover {
  background-color: #291B08;
  color: #e3e3e3;
}

@media (max-width: 974px) {
  .btn-tag {
    padding: 8px 20px;
  }
}

.btn-tag.active {
  background-color: #291B08;
  color: #e3e3e3;
}

a.view-more {
  padding: 8px 0;
  color: #A68A73;
  position: relative;
}

a.view-more::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: #A68A73;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a.view-more:hover::after {
  width: 100%;
  height: 1px;
}

.product-img {
  position: relative;
  overflow: hidden;
}

.product-img:after {
  content: "view more";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -300px;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: #291B08;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-img:hover:after {
  bottom: 0;
  opacity: 1;
}

.product-img-transform {
  overflow: hidden;
}

.product-img-transform img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-img-transform:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-title {
  margin-top: 200px;
}

@media (max-width: 974px) {
  .main-title {
    margin-top: 120px;
  }
}

.main-title h2 {
  border-bottom: 2px solid #291B08;
}

.main-title p {
  padding-bottom: 8px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

.description h2 {
  margin-top: 100px;
  font-weight: 500;
}

@media (max-width: 974px) {
  .description h2 {
    margin-top: 20px;
  }
}

.description h3 {
  min-width: 80px;
  font-weight: 500;
}

.description .img-info {
  padding: 8px 0;
  color: #A68A73;
  font-size: 14px;
}

.badge {
  background-color: #A68A73;
  font-weight: 400;
  text-transform: uppercase;
}

.form-select {
  border-radius: 0;
}

.everyPage {
  margin-top: 100px;
}

@media (max-width: 974px) {
  .everyPage {
    margin-top: 70px;
  }
}

h1 {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 974px) {
  h1 {
    width: 120px;
  }
}

nav {
  z-index: 10;
  top: 0;
  height: 100px;
  max-height: 100px;
  background-color: rgba(227, 227, 227, 0.9);
}

@media (max-width: 974px) {
  nav {
    height: 70px;
    max-height: 70px;
  }
}

nav .navbar-toggler {
  position: relative;
}

nav .burger-top {
  position: absolute;
  width: 24px;
  height: 2px;
  top: -4px;
  right: 3px;
  border-radius: 2px;
  background-color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav .burger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 10px;
  right: 3px;
  border-radius: 2px;
  background-color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav .rotate-top {
  top: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav .rotate-bottom {
  top: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 974px) {
  .navbar .nav-item {
    background-color: rgba(227, 227, 227, 0.9);
    padding: 16px 0;
    text-align: center;
  }
}

.navbar .nav-link {
  color: #291B08;
  font-weight: 600;
  position: relative;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #291B08;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
  height: 1px;
}

@media (max-width: 974px) {
  .navbar .nav-link {
    display: inline-block;
  }
}

.navbar .nav-link.active {
  color: #A68A73;
}

.carousel-img {
  height: 400px;
  max-height: 400px;
}

@media (min-width: 975px) {
  .carousel-img {
    height: 700px;
    max-height: 700px;
  }
}

.carousel-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about h2 {
  font-size: 72px;
}

.about .name {
  position: relative;
  letter-spacing: 2px;
}

.about .name:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 200px;
  width: 60px;
  height: 1px;
  background-color: #291B08;
}

.contact {
  position: relative;
  padding: 80px 0;
  background-color: #291B08;
  color: #e3e3e3;
}

.contact:hover i {
  color: #A68A73;
}

.contact .icon {
  padding: 16px 0;
  font-size: 40px;
}

.contact .icon i::before {
  margin-bottom: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer {
  padding: 30px 0;
  background-color: #291B08;
  color: #e3e3e3;
  border-top: 1px solid #e3e3e3;
}

.go-top {
  position: fixed;
  width: 40px;
  right: 15px;
  bottom: 60px;
}

.go-top a {
  padding: 10px;
}

.design-item {
  background-color: #e3e3e3;
  padding: 100px 0;
}

@media (max-width: 974px) {
  .design-item {
    padding: 30px 0;
  }
}

.carousel-control-prev, .carousel-control-next {
  opacity: .7;
}

.carousel-arrow {
  color: #A68A73;
  font-size: 28px;
}

.categorySelecter {
  background-color: rgba(227, 227, 227, 0.9);
  padding: 10px 0;
  top: 70px;
  z-index: 5;
}

@media (min-width: 975px) {
  .categorySelecter {
    top: 100px;
  }
}

.profile .main-info {
  margin-bottom: 50px;
}

@media (min-width: 975px) {
  .profile .main-info {
    margin-bottom: 100px;
  }
}

.profile li {
  position: relative;
  padding-left: 16px;
}

.profile li:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  left: 0;
  top: 12px;
  background-color: #291B08;
}

.profile h3 {
  display: inline-block;
  color: #A68A73;
  font-weight: 500;
  border-bottom: 1px solid #A68A73;
}

.profile ul.hobby li, .profile ul.autobiography li {
  padding-left: 0;
  padding-right: 16px;
}

.profile ul.hobby li:before, .profile ul.autobiography li:before {
  width: 0px;
  height: 0px;
  left: 0;
  top: 0px;
}
/*# sourceMappingURL=all.css.map */