@mixin pc {
    @media(min-width:975px){
        @content;
    }
}
@mixin mobile {
    @media(max-width:974px){
        @content;
    }
}

@mixin transition ($second){
    transition: all $second ease;
}

@mixin aHoverLine($bg-color,$second) {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $bg-color;
        @include transition($second);
    }
    &:hover::after{
        width: 100%;
        height: 1px;
    }
}
@mixin aHoverWidth($bg-color,$second) {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 120%;
        height: 1px;
        bottom: 0;
        right: 0;
        background-color: $bg-color;
        @include transition($second);
    }
    &:hover::after{
        width: 100%;
        height: 1px;
    }
}

@mixin aHoverColor($color){
    &:hover {
        color: $color;
    }
}